
<% if content.errors.any? %>
  Errors: <%= content.errors.full_messages.join(', ') %> 
<% end %>

<%= form_with model: content do |form| %>
  <div class='field'>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: 'Title'%>
  </div>

  <div class='field'>
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: 'Something content...'%>
  </div>

  <div class='field'>
    <%= form.label :tags %>
    <%= collection_select(:tag_content, :tag_id, Tag.all, :id, :name, {},{class: 'select2', multiple: 'multiple'}) %>
  </div>

  <div class="actions">
    <%= form.submit 'Save' %>
  </div>
<% end %>

<script> 
  $(document).ready(function() {
    $('.select2').select2();
  });
</script>