<%= link_to 'New Content', new_content_path %>

<h2>Welcome <%= current_user.email %> </h2>

<%= @contents.each do |content| %>
  Title - <%= content.title %> |
  Description - <%= content.description %>

  </br>
<% end %>