<h1> <%= @content.title %> </h1>

<%= raw @markdown.render (@content.description)%>
<br>

<span>Tags:</br>
<% @content.tags.each do |tag| %>
  <% if @content.tags.count == 1 %>
    #<%= tag.name %>
  <% else %>
    #<%= tag.name %> | 
  <% end %>  
<% end %>

</br>
<%= link_to 'Edit', edit_content_path(@content), class: 'btn btn-outline-warning' %> 
<%= link_to 'Destroy', content_path(@content), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %>

